include /mixins/generic-section.pug

doctype html
html(lang='en')
  head
    title Andre Dantas | Frontend Developer
    link(rel="stylesheet", href="/assets/css/main.css")

  body
    include /partials/header.pug

    main !{content}

    include /partials/footer.pug

    include /partials/firebase.html
